*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    width: 60%;
    min-height: 1100px; 
    margin: auto;
    border: 2px solid black;
    background-color: aquamarine;
    border-radius: 15px;
    /* background-image: linear-gradient(45 deg,#f12711,#f5af19); */
}
.header
{
    width: 100%;
    height: 80px;
    float: left;
}
.header .heading
{
    width: 48%;
    height: 96px;
    float: left;
    padding-top: 15px;
    padding-left: 20px;
}
.heading h1{
    font-size: 44px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:blue;
}
.header .menus
{
    width: 48%;
    height: 96px;
    /* background-color: aqua; */
    /* border: 1px dashed black; */
    float: right;
    padding-top: 30px;

}
.menus a{
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:blue;
    padding: 10px;
    text-decoration: none;
}
.menus a:hover
{
    background-color: yellow;
}

.register_box 
{
    width: 30%;
    min-height: 50px;
    /* border: 2px solid white; */
    background-color:aliceblue;
    margin: 20px 15%;
    position: absolute;
    top: 70px;
    border-radius: 20px;   
}

.register_box h1
{
    font-size: 28px;
    text-align: center;
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.register_box .form_div
{
    width:100%;
    margin: 15px auto;
    /* color:brown; */
    padding-top: 10px;
} 
.form_div [type=file]
{
    width: 90%;
    margin: 15px 25px; 
}

.form_div label{
    width: 90%;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    color:black;
}

.form_div input[type=text],[type=email],[type=tel]
{
    /* color: white; */
    width: 90%;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 15px 15px; 
    padding: 5px 10px;
    Outline:none;
    border: none;
    border-radius: 15px;
    background: none;
    border-bottom: 3px solid white;
}

.form_div input[type=date],[type=option]
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 40%;
    font-size: 16px;
    margin: 10px;
    color:black;
} 

.form_div input[type=radio]
{
    /* width: 15%;  */
    font-size: 16px;
    /* margin-bottom: 10px; */margin-left: 20px;
} 
.form_div input[type=checkbox]
{
    width: 40%;
    /* padding-left: 20px; */
    font-size: 16px;
    /* margin: 15px 15px; */
    margin-bottom: 20px;

}

input[type=submit],[type=reset]
{
    width: 90%;
    padding: 10px 10px;
    margin: 15px;
    border-radius: 15px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    border: none;
    background-color: white;
}

input[type=submit]:hover
{
    background-color: yellow;
}

input[type=reset]:hover
{
    color: white;
    background-color: green;
}